* {
  box-sizing: border-box;
}

html {
  font: calc(100% * 0.625) / 1.15 HelveticaNeue, Helvetica, sans-serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.875;
  color: hsl(0, 0%, 15%);
  margin: 0;
}

h1 {
  width: 100%;
  background-color: #252525d2;
  color: #fff;
  padding: 2rem;
}

header,
main {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
.main-form {
  max-width: 780px;
  padding-bottom: 35px;
}

ul {
  list-style-type: none;
}

.feature-list {
  margin: 0;
}

.feature-option {
  font-weight: initial;
  padding: 0.8rem;
  border: 0.1rem solid #d6d6d6;
  border-radius: 0.4rem;
}

.feature-option:hover {
  border-color: #888;
}

.feature-selected {
  border: 0.2rem solid #0070c9;
}

.feature-option:focus {
  box-shadow: 0 0 0 0.1rem #fff, 0 0 0 0.3rem #83c0fd;
}

.feature-option:not(:checked) {
  cursor: pointer;
}

.feature-name {
  font-weight: bold;
}

.summary-option-label {
  font-weight: bolder;
}

.total-price {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}

@media screen and (min-width: 1220px) {
  main {
    display: flex;
    justify-content: space-between;
  }
  .main-form {
    margin-right: 25px;
  }
  .main-summary {
    margin-left: 25px;
  }
}
